@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Merriweather:wght@300;400;700&family=Oxygen:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: #d9d7d7;
    box-sizing: border-box;
  }
  h1, h2{
    font-family: 'Oxygen', sans-serif;}
  h3 {
    font-family: "Dancing Script", cursive;
  }
  .main_1 {
    background-color: #020313;
  }
  .main_2 {
    background-color: #0b0c18;
  }
  .progress_bar {
    background-color: #ffb401;
  }
  .yellow {
    color: #ffb401;
  }
  .gray {
    color: #2b2a2a;
  }
  .yellow_bg {
    background-color: #ffb401;
  }
  .gray_bg {
    background-color: #2b2a2a;
  }
}

body {
  background-color: #000300;
}
